In [2]:
import numpy as np
import pandas as pd


df = pd.read_csv(r"C:\Users\hp\Desktop\My_apps\Loan_predictor\data\train_u6lujuX_CVtuZ9i (1).csv", encoding='latin1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
df['ApplicantIncome'] = df['ApplicantIncome'].fillna(df['ApplicantIncome'].mode()[0])
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])
df['LoanAmount'] = df['LoanAmount'].fillna(0)
df['Dependents'] = df['Dependents'].fillna(0)
df['Self_Employed'] = df['Self_Employed'].fillna('No')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            611 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [8]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df['Loan_ID']=le.fit_transform(df['Loan_ID'])
df['Married']=le.fit_transform(df['Married'])

df['Education']=le.fit_transform(df['Education'])
df['Self_Employed']=le.fit_transform(df['Self_Employed'])
df['Loan_Status']=le.fit_transform(df['Loan_Status'])
df['Property_Area']=le.fit_transform(df['Property_Area'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    int64
 1   Gender             614 non-null    int64
 2   Married            614 non-null    int64
 3   Dependents         614 non-null    object
 4   Education          614 non-null    int64
 5   Self_Employed      614 non-null    int64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(8), object(1)
memory usage: 62.5+ KB

In [12]:
df['Dependents'] = np.where(df['Dependents'] == np.nan, 0, df['Dependents'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    int64
 1   Gender             614 non-null    int64
 2   Married            614 non-null    int64
 3   Dependents         614 non-null    object
 4   Education          614 non-null    int64
 5   Self_Employed      614 non-null    int64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(8), object(1)
memory usage: 62.5+ KB

In [14]:
df['Dependents']= df['Dependents'].fillna(0)

In [18]:
df['Dependents']=np.where(df['Dependents'] == '3+', 3, df['Dependents'])

In [19]:
df['Dependents'] = df["Dependents"].astype("int64")

In [20]:
df['Dependents']=le.fit_transform(df['Dependents'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    int64
 1   Gender             614 non-null    int64
 2   Married            614 non-null    int64
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    int64
 5   Self_Employed      614 non-null    int64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(9)
memory usage: 62.5 KB

In [27]:
df['Loan_Amount_Term'] = df["Loan_Amount_Term"].astype("int64")

In [22]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,0,5849,0.0,0.0,360.0,1.0,2,1
1,1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [23]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Load the data
print("Loading data...")
df

print(f"Data shape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")

# Encode categorical variables

# Prepare features and target
x = df.drop(columns=['Loan_Status', 'Loan_ID'])
y = df['Loan_Status']

print(f"\nFeatures shape: {x.shape}")
print(f"Target shape: {y.shape}")

# Split the data
print("\nSplitting data...")
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=47)

# Train the Random Forest model
print("\nTraining Random Forest model...")
model = RandomForestClassifier(n_estimators=100, random_state=47, n_jobs=-1)
model.fit(x_train, y_train)

# Evaluate the model
train_score = model.score(x_train, y_train)
test_score = model.score(x_test, y_test)

print(f"\nModel trained successfully!")
print(f"Train accuracy: {train_score:.4f}")
print(f"Test accuracy: {test_score:.4f}")

# Save the model
print("\nSaving model...")
with open('churn_Random_model.pkl', 'wb') as f:
    pickle.dump(model, f)

print("Model saved as 'churn_Random_model.pkl'")

# Test the model
print("\nTesting model with sample prediction...")
sample = x_test.iloc[0:1]
prediction = model.predict(sample)
probability = model.predict_proba(sample)
print(f"Sample prediction: {prediction[0]}")
print(f"Prediction probability: {probability[0]}")

Loading data...
Data shape: (614, 13)
Columns: ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status']

Features shape: (614, 11)
Target shape: (614,)

Splitting data...

Training Random Forest model...

Model trained successfully!
Train accuracy: 1.0000
Test accuracy: 0.7622

Saving model...
Model saved as 'churn_Random_model.pkl'

Testing model with sample prediction...
Sample prediction: 1
Prediction probability: [0.31 0.69]

In [29]:
data = pd.read_csv(r"C:\Users\hp\Desktop\My_apps\Loan_predictor\data\training_data.csv", encoding = "Latin1")

# Features Extraction

In [39]:
mdi_importance = pd.Series(model.feature_importances_, index = x.columns) * 100
print("Gini Importances : \n", mdi_importance.sort_values, "%")

Gini Importances :
 <bound method Series.sort_values of Gender                2.044678
Married               3.235785
Dependents            4.834534
Education             2.097150
Self_Employed         1.656681
ApplicantIncome      20.875509
CoapplicantIncome    10.590573
LoanAmount           20.048417
Loan_Amount_Term      3.760193
Credit_History       25.960310
Property_Area         4.896170
dtype: float64> %

In [32]:
mdi_importance.sum()

np.float64(1.0)

In [41]:
df['Property_Area'].unique()

array([2, 0, 1])

In [42]:
data.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
34,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N
35,LP001106,Male,Yes,0,Graduate,No,2275,2067.0,NaN,360.0,1.0,Urban,Y
36,LP001109,Male,Yes,0,Graduate,No,1828,1330.0,100.0,NaN,0.0,Urban,N
37,LP001112,Female,Yes,0,Graduate,No,3667,1459.0,144.0,360.0,1.0,Semiurban,Y
38,LP001114,Male,No,0,Graduate,No,4166,7210.0,184.0,360.0,1.0,Urban,Y
39,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban,Y
40,LP001119,Male,No,0,Graduate,No,3600,0.0,80.0,360.0,1.0,Urban,N
41,LP001120,Male,No,0,Graduate,No,1800,1213.0,47.0,360.0,1.0,Urban,Y
42,LP001123,Male,Yes,0,Graduate,No,2400,0.0,75.0,360.0,NaN,Urban,Y
43,LP001131,Male,Yes,0,Graduate,No,3941,2336.0,134.0,360.0,1.0,Semiurban,Y
44,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,Y
45,LP001137,Female,No,0,Graduate,No,3410,0.0,88.0,NaN,1.0,Urban,Y
46,LP001138,Male,Yes,1,Graduate,No,5649,0.0,44.0,360.0,1.0,Urban,Y
47,LP001144,Male,Yes,0,Graduate,No,5821,0.0,144.0,360.0,1.0,Urban,Y
48,LP001146,Female,Yes,0,Graduate,No,2645,3440.0,120.0,360.0,0.0,Urban,N
49,LP001151,Female,No,0,Graduate,No,4000,2275.0,144.0,360.0,1.0,Semiurban,Y

In [44]:
x.head(50)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,0.0,0.0,360.0,1.0,2
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2
6,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2
7,1,1,3,0,0,3036,2504.0,158.0,360.0,0.0,1
8,1,1,2,0,0,4006,1526.0,168.0,360.0,1.0,2
9,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,1
10,1,1,2,0,0,3200,700.0,70.0,360.0,1.0,2
11,1,1,2,0,0,2500,1840.0,109.0,360.0,1.0,2
12,1,1,2,0,0,3073,8106.0,200.0,360.0,1.0,2
13,1,0,0,0,0,1853,2840.0,114.0,360.0,1.0,0
14,1,1,2,0,0,1299,1086.0,17.0,120.0,1.0,2
15,1,0,0,0,0,4950,0.0,125.0,360.0,1.0,2
16,1,0,1,1,0,3596,0.0,100.0,240.0,1.0,2
17,0,0,0,0,0,3510,0.0,76.0,360.0,0.0,2
18,1,1,0,1,0,4887,0.0,133.0,360.0,1.0,0
19,1,1,0,0,0,2600,3500.0,115.0,360.0,1.0,2
20,1,1,0,1,0,7660,0.0,104.0,360.0,0.0,2
21,1,1,1,0,0,5955,5625.0,315.0,360.0,1.0,2
22,1,1,0,1,0,2600,1911.0,116.0,360.0,0.0,1
23,1,1,2,1,0,3365,1917.0,112.0,360.0,0.0,0
24,1,1,1,0,0,3717,2925.0,151.0,360.0,1.0,1
25,1,1,0,0,1,9560,0.0,191.0,360.0,1.0,1
26,1,1,0,0,0,2799,2253.0,122.0,360.0,1.0,1
27,1,1,2,1,0,4226,1040.0,110.0,360.0,1.0,2
28,1,0,0,1,0,1442,0.0,35.0,360.0,1.0,2
29,0,0,2,0,0,3750,2083.0,120.0,360.0,1.0,1
30,1,1,1,0,0,4166,3369.0,201.0,360.0,1.0,2
31,1,0,0,0,0,3167,0.0,74.0,360.0,1.0,2
32,1,0,1,0,1,4692,0.0,106.0,360.0,1.0,0
33,1,1,0,0,0,3500,1667.0,114.0,360.0,1.0,1
34,1,0,3,0,0,12500,3000.0,320.0,360.0,1.0,0
35,1,1,0,0,0,2275,2067.0,0.0,360.0,1.0,2
36,1,1,0,0,0,1828,1330.0,100.0,360.0,0.0,2
37,0,1,0,0,0,3667,1459.0,144.0,360.0,1.0,1
38,1,0,0,0,0,4166,7210.0,184.0,360.0,1.0,2
39,1,0,0,1,0,3748,1668.0,110.0,360.0,1.0,1
40,1,0,0,0,0,3600,0.0,80.0,360.0,1.0,2
41,1,0,0,0,0,1800,1213.0,47.0,360.0,1.0,2
42,1,1,0,0,0,2400,0.0,75.0,360.0,1.0,2
43,1,1,0,0,0,3941,2336.0,134.0,360.0,1.0,1
44,1,1,0,1,1,4695,0.0,96.0,360.0,1.0,2
45,0,0,0,0,0,3410,0.0,88.0,360.0,1.0,2
46,1,1,1,0,0,5649,0.0,44.0,360.0,1.0,2
47,1,1,0,0,0,5821,0.0,144.0,360.0,1.0,2
48,0,1,0,0,0,2645,3440.0,120.0,360.0,0.0,2
49,0,0,0,0,0,4000,2275.0,144.0,360.0,1.0,1